/*
main > div{
    display: inline-block;
    width: 20%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 20px;
    min-width: 180px;
    height: 300px;
}

.myimage{
    width: 100px;
    height: 100px;
    padding: 50px;
    background-color: red;
    border-radius: 5%;
    position: relative;
}

/*
.title{
    font-size: 25px;
    text-transform: uppercase;
    color:#e85c44;
}

div > p{
    font-weight: 400;
    color: grey;
}

@media(min-width:1300px){
    main{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

*/

main {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.title{
    font-size: 25px;
    text-transform: uppercase;
    color:#f64f31;
}

div > p{
    font-weight: 400;
    color: #717070;
}

main > div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 20px;
    min-width: 180px;

}

.myimage{
    width: 100px;
    height: 100px;
    padding: 50px;
    border-radius: 5%;
    position: relative;
}

.first-color{
    background-color: #6a0df5;
}
.second-color{
    background-color: #f50d0d;
}
.third-color{
    background-color: #0df538;
}
.fourt-color{
    background-color: #f6256e;
}

@media(min-width:1300px){
    main{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media(max-width:1000px){
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:550px){
    main{
        grid-template-columns: 1fr;
    }
}